In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import itertools
import math
import re
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score as accuracy
import graphviz 
from datetime import datetime, timedelta
from sklearn.metrics import roc_curve, auc, classification_report, confusion_matrix
from sklearn import preprocessing, svm, metrics, tree, decomposition, svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors.nearest_centroid import NearestCentroid
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import ParameterGrid
from dateutil.relativedelta import relativedelta
from sklearn.preprocessing import StandardScaler


# personal modules
import ml_pipeline_lch as ml
import ml_explore as exp
import ml_modeling as md


sns.set(style = "ticks", color_codes = True)
%matplotlib inline

### Read and Pre-Process Data

#### Read Data

In [2]:
outcomes_df = ml.retrieve_data(filename = 'data/outcomes.csv', headers = True, set_ind = 0)

In [3]:
outcomes_df.head()

,is_exciting,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
projectid,,,,,,,,,,,
ffffc4f85b60efc5b52347df489d0238,f,NaN,f,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN
ffffac55ee02a49d1abc87ba6fc61135,f,f,t,t,f,t,f,f,57.0,0.0,7.0
ffff97ed93720407d70a2787475932b0,f,f,t,t,t,t,t,f,100.0,0.0,3.0
ffff418bb42fad24347527ad96100f81,f,f,f,t,t,f,f,f,100.0,0.0,1.0
ffff2d9c769c8fb5335e949c615425eb,t,t,t,t,t,f,t,f,63.0,6.0,2.0

In [4]:
outcomes_df.replace(to_replace='t', value=1, inplace=True)
outcomes_df.replace(to_replace='f', value=0, inplace=True)

In [5]:
outcomes_df.head()

,is_exciting,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
projectid,,,,,,,,,,,
ffffc4f85b60efc5b52347df489d0238,0,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
ffffac55ee02a49d1abc87ba6fc61135,0,0.0,1,1.0,0,1.0,0.0,0.0,57.0,0.0,7.0
ffff97ed93720407d70a2787475932b0,0,0.0,1,1.0,1,1.0,1.0,0.0,100.0,0.0,3.0
ffff418bb42fad24347527ad96100f81,0,0.0,0,1.0,1,0.0,0.0,0.0,100.0,0.0,1.0
ffff2d9c769c8fb5335e949c615425eb,1,1.0,1,1.0,1,0.0,1.0,0.0,63.0,6.0,2.0

In [6]:
projects_df = ml.retrieve_data(filename = 'data/projects.csv', headers = True, set_ind = 0)

In [7]:
project_info = pd.merge(projects_df, pd.DataFrame(outcomes_df['fully_funded']), how = 'inner', right_index = True, left_index = True)

In [8]:
project_info.head()

,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_district,...,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted,fully_funded
projectid,,,,,,,,,,,,,,,,,,,,,
62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,1.713710e+11,41.972419,-88.174597,Bartlett,IL,60103.0,suburban,Elgin School District U-46,...,moderate poverty,Grades 3-5,30.0,444.36,522.78,7.0,f,f,2013-12-31,1
33d59ac771b80222ad63ef0f4ac47ade,de83b4c1f6428a15032c207c1d5e572a,d91a805b213bf74ae77b94e0de2b73ad,1.601530e+11,43.501154,-112.056780,Idaho Falls,ID,83402.0,urban,Idaho Falls School District 91,...,high poverty,Grades 3-5,30.0,233.24,274.40,30.0,f,f,2013-12-31,0
1a3aaeffc56dd2a421e37d8298024c0a,f4c9ed095b85458dcf858e25f203af00,9310d3eb447a4e46bc5fc31ed007ceac,3.302610e+11,42.888244,-71.320224,Derry,NH,3038.0,suburban,School Administrative Unit 10,...,moderate poverty,Grades 6-8,30.0,285.09,335.40,230.0,f,f,2013-12-31,0
33aa19ee4da4c5adf47d0dfb84fab5ef,17768031eb40de8d4497dbb54df48742,9ac70da58322783f82152eecc140a812,5.103240e+11,37.476158,-77.488397,Richmond,VA,23224.0,urban,Richmond City School District,...,highest poverty,Grades PreK-2,30.0,232.94,274.05,18.0,f,f,2013-12-31,0
e31c0ea8b68f404699dfb0d39e9bc99b,0f1bc5b4700fd33383be104442660178,cb9f688cf59e3ee22a087d616ca8f5d7,1.709930e+11,41.952851,-87.650233,Chicago,IL,60613.0,urban,Ravenswood-ridge Elem Network,...,highest poverty,Grades 6-8,30.0,513.41,604.01,70.0,t,f,2013-12-31,1

### Date Transformation and Narrowing

In [9]:
project_info.date_posted.dtype

dtype('O')

In [10]:
project_info['date_posted'] = ml.convert_dates(project_info['date_posted'])

In [11]:
project_info['year'] = project_info['date_posted'].apply(lambda x: x.year)

In [12]:
project_info['year'].unique()

array([2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003,
       2002])

In [13]:
project_info = project_info[(project_info['date_posted'] >= datetime.strptime('2011-01-01', '%Y-%m-%d')) & (project_info['date_posted'] <= datetime.strptime('2013-12-31', '%Y-%m-%d'))]

In [14]:
project_info['year'].unique()

array([2013, 2012, 2011])

### Column Details Exploration

In [40]:
project_info.describe().round(3).transpose()

,count,mean,std,min,25%,50%,75%,max
school_ncesid,328293.0,2.503127e+11,1.648173e+11,1.000050e+10,6.372301e+10,2.400090e+11,3.904440e+11,6.100008e+11
school_latitude,353151.0,3.686900e+01,4.927000e+00,1.824900e+01,3.391600e+01,3.667600e+01,4.068000e+01,6.725800e+01
school_longitude,353151.0,-9.539800e+01,1.811800e+01,-1.716910e+02,-1.172470e+02,-8.988600e+01,-8.076200e+01,-6.662800e+01
school_zip,353151.0,5.630176e+04,3.104352e+04,4.100000e+02,2.938800e+04,6.061300e+04,9.000700e+04,9.992600e+04
fulfillment_labor_materials,353151.0,3.222000e+01,2.484000e+00,3.000000e+01,3.000000e+01,3.000000e+01,3.500000e+01,3.500000e+01
total_price_excluding_optional_support,353151.0,5.313720e+02,8.440690e+02,3.703000e+01,2.887500e+02,4.272700e+02,6.067200e+02,1.397254e+05
total_price_including_optional_support,353151.0,6.251440e+02,9.930230e+02,4.356000e+01,3.397100e+02,5.026700e+02,7.137900e+02,1.643828e+05
students_reached,353050.0,9.418700e+01,1.569870e+02,1.000000e+00,2.300000e+01,3.100000e+01,1.000000e+02,1.214300e+04
fully_funded,353151.0,7.010000e-01,4.580000e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
year,353151.0,2.012077e+03,8.130000e-01,2.011000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.013000e+03

In [15]:
def organize_variables(df, col_names, indicator, var_dict = None):
    if var_dict is None:
        var_dict = {'binary': [], 'tops': [], 'drop': [], 'ids': [], 'geo': [], 'multi': [], 'numeric': []}
    
    if indicator == 'binary':
        var_dict[indicator] += col_names
    elif indicator == 'multi':
        var_dict[indicator] += col_names
    elif indicator == 'numeric':
        var_dict[indicator] += col_names
    elif indicator == 'geo':
        var_dict[indicator] += col_names
    elif indicator == 'ids':
        var_dict[indicator] += col_names
    elif indicator == 'tops':
        var_dict[indicator] += col_names
    elif indicator == 'drop':
        var_dict[indicator] += col_names
    
    return var_dict

In [49]:
# check column types
def check_col_types(df):
    return pd.DataFrame(df.dtypes, df.columns).rename({0: 'data_type'}, axis = 1)

In [50]:
# check column types
ml.check_col_types(project_info)

                                             data_type
teacher_acctid                                  object
schoolid                                        object
school_ncesid                                  float64
school_latitude                                float64
school_longitude                               float64
school_city                                     object
school_state                                    object
school_zip                                     float64
school_metro                                    object
school_district                                 object
school_county                                   object
school_charter                                  object
school_magnet                                   object
school_year_round                               object
school_nlns                                     object
school_kipp                                     object
school_charter_ready_promise                    object
teacher_prefix                                  object
teacher_teach_for_america                       object
teacher_ny_teaching_fellow                      object
primary_focus_subject                           object
primary_focus_area                              object
secondary_focus_subject                         object
secondary_focus_area                            object
resource_type                                   object
poverty_level                                   object
grade_level                                     object
fulfillment_labor_materials                    float64
total_price_excluding_optional_support         float64
total_price_including_optional_support         float64
students_reached                               float64
eligible_double_your_impact_match               object
eligible_almost_home_match                      object
date_posted                             datetime64[ns]
fully_funded                                     int64
year                                             int64

In [51]:
# view values across columns
def view_cols(df):
    '''
    View unique values across columns in given data frame.
    '''
    for col in df.columns:
        print(col)
        print(df[col].unique())
        print()

In [52]:
ml.view_cols(project_info)

teacher_acctid
['ebc7c90b6c92a069432e0714b8d93dfd' 'de83b4c1f6428a15032c207c1d5e572a'
 'f4c9ed095b85458dcf858e25f203af00' ... '4a7fd60460dccc2a4d09069e53c6b964'
 '8c458627ae58a3057232e8de4f1f51ad' 'e0b03d3b814958dbba3d0236f237aab6']

schoolid
['5aca9711ff0e4b37db48701f46f73036' 'd91a805b213bf74ae77b94e0de2b73ad'
 '9310d3eb447a4e46bc5fc31ed007ceac' ... 'fda28249bfc517eb67f57875063f7c4a'
 '1cac20ff36dab7b47161703fdd0134a5' 'c17558ef1c387875778e241a9054946d']

school_ncesid
[1.71371006e+11 1.60153000e+11 3.30261000e+11 ... 3.41053005e+11
 1.91269001e+11 3.61941004e+11]

school_latitude
[41.972419 43.501154 42.888244 ... 41.287719 41.046086 40.958734]

school_longitude
[ -88.174597 -112.05678   -71.320224 ...  -74.79199   -95.74642
  -72.994883]

school_city
['Bartlett' 'Idaho Falls' 'Derry' ... 'Mead' 'Mahopac' 'Miller Place']

school_state
['IL' 'ID' 'NH' 'VA' 'SC' 'KY' 'FL' 'WY' 'NY' 'NM' 'NC' 'AZ' 'MI' 'MO'
 'TX' 'NJ' 'CO' 'MT' 'CA' 'AK' 'MN' 'CT' 'GA' 'IN' 'MA' 'PA' 'TN' 'OK'
 'LA' 'OR' 'DE' 'AR' 'ME' 'WA' 'IA' 'OH' 'KS' 'VT' 'NV' 'AL' 'UT' 'WV'
 'MD' 'WI' 'DC' 'MS' 'ND' 'SD' 'HI' 'RI' 'NE']

school_zip
[60103. 83402.  3038. ... 10541.  7827. 11764.]

school_metro
['suburban' 'urban' 'rural' nan]

school_district
['Elgin School District U-46' 'Idaho Falls School District 91'
 'School Administrative Unit 10' ... 'Mahopac Ctl School District'
 'Montague School District' 'Miller Place Union Free SD']

school_county
['Du Page' 'Bonneville' 'Rockingham' ... 'Norton' 'Oscoda' 'Brookings']

school_charter
['f' 't']

school_magnet
['f' 't']

school_year_round
['f' 't']

school_nlns
['f' 't']

school_kipp
['f' 't']

school_charter_ready_promise
['f' 't']

teacher_prefix
['Mrs.' 'Ms.' 'Mr.' 'Dr.']

teacher_teach_for_america
['f' 't']

teacher_ny_teaching_fellow
['f' 't']

primary_focus_subject
['Special Needs' 'Mathematics' 'Environmental Science' 'Literacy'
 'Literature & Writing' 'Early Development' 'Applied Sciences'
 'Civics & Government' 'Visual Arts' 'Sports' 'Gym & Fitness' 'ESL'
 'Performing Arts' 'Health & Life Science' 'History & Geography' 'Music'
 'Health & Wellness' 'Foreign Languages' 'Extracurricular' 'Other'
 'Social Sciences' 'Economics' 'Character Education'
 'College & Career Prep' 'Nutrition' 'Parent Involvement'
 'Community Service' nan]

primary_focus_area
['Special Needs' 'Math & Science' 'Literacy & Language' 'Applied Learning'
 'History & Civics' 'Music & The Arts' 'Health & Sports' nan]

secondary_focus_subject
['Literacy' nan 'Applied Sciences' 'Mathematics' 'Literature & Writing'
 'History & Geography' 'Early Development' 'Visual Arts' 'Extracurricular'
 'Health & Wellness' 'Music' 'Social Sciences' 'Environmental Science'
 'ESL' 'Health & Life Science' 'Performing Arts' 'Other' 'Special Needs'
 'Community Service' 'College & Career Prep' 'Sports' 'Parent Involvement'
 'Civics & Government' 'Economics' 'Gym & Fitness' 'Character Education'
 'Nutrition' 'Foreign Languages']

secondary_focus_area
['Literacy & Language' nan 'Math & Science' 'History & Civics'
 'Applied Learning' 'Music & The Arts' 'Health & Sports' 'Special Needs']

resource_type
['Other' 'Supplies' 'Technology' 'Books' 'Trips' 'Visitors' nan]

poverty_level
['moderate poverty' 'high poverty' 'highest poverty' 'low poverty']

grade_level
['Grades 3-5' 'Grades 6-8' 'Grades PreK-2' 'Grades 9-12' nan]

fulfillment_labor_materials
[30. 35.]

total_price_excluding_optional_support
[ 444.36  233.24  285.09 ...  926.32 1849.33  626.04]

total_price_including_optional_support
[ 522.78  274.4   335.4  ... 1089.79 2175.68  736.52]

students_reached
[7.0000e+00 3.0000e+01 2.3000e+02 1.8000e+01 7.0000e+01 2.2000e+01
 2.5000e+01 1.7000e+01 2.0000e+01 2.1000e+01 3.6000e+01 1.6000e+02
 2.6000e+01 2.4000e+01 8.0000e+00 1.9000e+01 3.5000e+01 2.3000e+01
 9.0000e+01 1.5000e+01 4.0000e+01 1.3000e+01 1.5000e+02 2.8000e+01
 1.2500e+02 2.5000e+02 1.2000e+01 1.8000e+02 6.5000e+02 1.0000e+02
 8.5000e+01 3.5000e+02 5.1600e+02 5.2000e+01 6.0000e+01 5.1000e+01
 3.4000e+02 2.8000e+02 1.6000e+01 8.0000e+02 4.0000e+02 5.0000e+01
 4.3000e+01 1.2000e+02 4.5000e+01 1.0300e+02 2.6000e+02 9.5000e+01
 4.8000e+01 2.1000e+02 2.9000e+01 9.8000e+01 1.7500e+02 1.4000e+02
 1.4000e+01 2.1500e+02 1.6500e+02 1.0000e+00 3.3500e+02 2.0000e+00
 8.1000e+01 7.5000e+01 2.7000e+01 4.5000e+02 3.9000e+01 6.0000e+00
 9.3000e+01 2.2500e+02 3.0000e+02 8.7000e+02 2.0000e+02 1.0000e+01
 4.2000e+01 1.3000e+02 8.0000e+01 4.3000e+02 3.7000e+02 8.8000e+01
 7.1000e+01 1.1000e+02 1.7000e+02 9.9900e+02 1.0700e+02 1.3200e+02
 4.0000e+00 3.2000e+01 3.3000e+01 9.0000e+00 1.1500e+02 3.1000e+01
 9.7000e+01 1.2800e+02 6.8000e+01 5.3000e+01 3.0000e+00 6.2000e+01
 4.4000e+01 9.6000e+01 6.8100e+02 1.2700e+02 1.8500e+02 6.0000e+02
 1.0600e+02 5.3500e+02 3.4000e+01 1.8200e+02 5.0000e+00 1.4500e+02
 6.6000e+01 1.1400e+02 5.5000e+01 4.6000e+01 8.4000e+01 1.3800e+02
 7.0000e+02 6.5000e+01 5.0000e+02 9.0000e+02 4.7000e+01 3.7000e+01
 6.7000e+01 1.5700e+02 4.7500e+02 3.7500e+02 3.8000e+01 1.2600e+02
 3.3000e+02 1.4700e+02 4.2000e+02 1.0100e+02 1.2400e+02 5.4000e+01
 5.5000e+02 1.1000e+01 9.2000e+01 3.1000e+02 8.4000e+02 4.6800e+02
 5.9000e+01 7.9300e+02 5.7000e+02 1.0400e+02 7.7000e+01 6.7000e+02
 7.2000e+01 5.0200e+02 1.9800e+02 5.8000e+01 3.2000e+02 1.0500e+02
 4.4400e+02 5.6000e+01 9.1800e+02 1.9000e+02 2.4000e+02 6.4000e+01
 6.2500e+02 5.0500e+02 6.1000e+01 3.6000e+02 5.2000e+02 2.3200e+02
 2.7000e+02 4.1000e+01 1.5200e+02 1.5800e+02 1.5100e+02 5.1500e+02
 2.4500e+02 6.3000e+01 5.7000e+01 6.8000e+02 7.5000e+02 1.0800e+02
 1.3700e+02 1.8900e+02 4.9000e+01 1.1600e+02 8.7000e+01 6.7500e+02
 3.8500e+02 5.5100e+02 8.4700e+02 2.0600e+02 2.8600e+02 2.8900e+02
 2.9000e+02 5.3000e+02 7.2000e+02 2.1100e+02 6.2000e+02 2.6700e+02
 9.9800e+02 5.4600e+02 1.5500e+02 1.3300e+02 1.2100e+02 3.8000e+02
 3.9000e+02 9.7000e+02 8.5000e+02 2.7800e+02 7.3000e+01 8.0900e+02
 5.6000e+02 4.2500e+02 7.9000e+01 1.1700e+02 5.2200e+02 2.8400e+02
 3.0500e+02 5.7500e+02 6.1500e+02 2.1400e+02 1.5600e+02 4.8000e+02
 4.4000e+02 1.4100e+02 9.9000e+01 7.6000e+01 7.3000e+02 8.9000e+01
 1.4900e+02 1.7200e+02 5.4000e+02 7.7500e+02 3.1700e+02 5.2800e+02
 2.0700e+02 8.6000e+01 2.8300e+02 3.1200e+02 6.3600e+02 3.2700e+02
 1.6200e+02 3.0900e+02 1.3600e+02 1.5300e+02 1.3100e+02 1.5400e+02
 7.4000e+02 1.7800e+02 1.6800e+02 3.8600e+02 1.8400e+02 1.2300e+02
 8.3000e+01 3.8400e+02 1.6300e+02 7.8000e+02 2.5700e+02 1.2200e+02
 5.8000e+02 2.3300e+02 2.2900e+02 7.6000e+02 5.3200e+02 1.4200e+02
 1.4300e+02 5.1100e+02 6.2100e+02 7.8000e+01 7.4000e+01 6.2300e+02
 5.2500e+02 5.4800e+02 1.3500e+02 6.6700e+02 6.1300e+02 4.9000e+02
 1.2900e+02 4.7000e+02 1.1800e+02 1.9500e+02 9.4000e+01 8.2000e+01
 6.6000e+02 3.4200e+02 1.8700e+02 6.9000e+01 1.1200e+02 6.1000e+02
 7.2300e+02 3.2400e+02 4.5900e+02 7.3300e+02 5.0400e+02 6.4000e+02
 6.7400e+02 2.9500e+02 1.1900e+02 9.4400e+02 5.7800e+02 7.2500e+02
 8.3700e+02 3.6400e+02 1.4400e+02 1.0200e+02 9.1000e+01 1.9200e+02
 7.7600e+02 7.0400e+02 9.5000e+02 4.7600e+02 4.2100e+02 9.8000e+02
 1.9400e+02 6.8900e+02 1.8100e+02 8.8800e+02 1.3400e+02 2.5600e+02
 2.7500e+02 2.2000e+02 1.6900e+02 6.5500e+02 8.8300e+02 5.8500e+02
 3.8700e+02 1.7100e+02 4.2700e+02 1.4600e+02 2.0500e+02 4.2600e+02
 3.2500e+02 1.4800e+02 3.1500e+02 5.1800e+02 6.0300e+02 3.1400e+02
 8.1000e+02 2.0200e+02 4.6600e+02 1.3900e+02 6.8700e+02 5.1000e+02
 1.7400e+02 4.1000e+02 1.0900e+02 3.7300e+02 1.6400e+02 4.9100e+02
 1.6700e+02 8.6000e+02 6.4800e+02 1.5900e+02 4.9600e+02 5.6400e+02
 5.1700e+02 1.8300e+02 2.1600e+02 4.6200e+02 6.3000e+02 9.4500e+02
 6.9000e+02 7.0600e+02 3.0100e+02 7.8600e+02 3.0700e+02 6.6100e+02
 2.1200e+02 5.1900e+02 5.7600e+02 4.8600e+02 7.3400e+02 7.4500e+02
 2.5500e+02 3.0200e+02 2.8500e+02 6.5600e+02 4.1600e+02 4.1200e+02
 4.1400e+02 1.7700e+02 4.6500e+02 6.2200e+02 6.3500e+02 4.0600e+02
 1.8600e+02 4.6000e+02 3.2800e+02 9.7900e+02 2.3100e+02 7.0200e+02
 7.1400e+02 6.0700e+02 5.6100e+02 1.1300e+02 4.9700e+02 4.8200e+02
 6.1200e+02 6.4300e+02 4.5500e+02 3.4500e+02 5.5700e+02 5.9700e+02
 3.0800e+02 2.3600e+02 1.1100e+02 4.0100e+02 5.6500e+02 9.6000e+02
 5.0800e+02 7.6400e+02 8.6400e+02 7.3500e+02 2.3700e+02 9.3000e+02
 3.1900e+02 8.8000e+02 6.2700e+02 4.2900e+02 3.6500e+02 1.7600e+02
 4.5800e+02 1.7300e+02 7.4100e+02 3.9400e+02 8.2000e+02 5.8700e+02
 2.5200e+02 1.9900e+02 2.6500e+02 4.1500e+02 2.6600e+02 7.9000e+02
 2.4200e+02 4.1800e+02 5.9500e+02 2.0100e+02 5.8600e+02 7.3200e+02
 9.8900e+02 2.9700e+02 2.5300e+02 4.6900e+02 3.2100e+02 4.6100e+02
 4.9500e+02 7.6100e+02 4.8500e+02 6.7800e+02 5.7400e+02 2.5900e+02
 6.5400e+02 3.2600e+02 5.4900e+02 1.8800e+02 4.2800e+02 2.0900e+02
 2.0300e+02 2.5100e+02 6.1100e+02 6.3300e+02 4.2200e+02 7.9900e+02
 2.9200e+02 6.8500e+02 8.1200e+02 2.1700e+02 2.6100e+02 4.7200e+02
 2.4300e+02 4.3500e+02 9.4000e+02 9.2000e+02 7.2900e+02 3.5300e+02
 8.4500e+02 5.6300e+02 5.3700e+02 2.0400e+02 4.5600e+02 3.6700e+02
 7.5700e+02 5.0600e+02 6.9300e+02 7.1200e+02 8.2900e+02 4.3600e+02
 2.3800e+02 9.9000e+02 7.3600e+02 1.9100e+02 7.5600e+02 4.0900e+02
 3.9500e+02 5.4700e+02 2.3500e+02 2.1800e+02 7.2800e+02 6.6600e+02
 9.4800e+02 6.7900e+02 6.7600e+02 1.9600e+02 5.6800e+02 6.8400e+02
 2.8200e+02 2.9600e+02 3.9600e+02 7.4300e+02 5.8300e+02 9.1600e+02
 3.6200e+02 9.9500e+02 4.0700e+02 9.5500e+02 8.9200e+02 2.0800e+02
 3.8300e+02 4.4300e+02 2.2300e+02 7.1300e+02 2.2700e+02 6.4500e+02
 2.2400e+02 3.4400e+02 3.1600e+02 5.8400e+02 3.4300e+02 3.9700e+02
 1.9300e+02 2.8100e+02 8.2500e+02 1.7900e+02 5.9300e+02 2.8800e+02
 9.3700e+02 2.2600e+02 9.4700e+02 5.3800e+02 2.1300e+02 4.4500e+02
 3.4100e+02 3.8900e+02 2.7300e+02 7.1000e+02 2.4800e+02 6.5900e+02
 5.4500e+02 2.1900e+02 8.9700e+02 3.9200e+02 8.5900e+02 3.0300e+02
 2.2800e+02 2.6300e+02 3.7200e+02 1.6100e+02 4.1100e+02 1.6600e+02
 3.1800e+02 2.6400e+02 9.9700e+02 6.0500e+02 4.8700e+02 8.3600e+02
 9.8500e+02 9.7100e+02 5.4400e+02 4.1700e+02 4.8300e+02 3.8200e+02
 2.4600e+02 3.7600e+02 6.4400e+02 6.5800e+02 6.6500e+02 4.4600e+02
 7.3800e+02 8.7500e+02 4.8900e+02 5.8200e+02 5.2600e+02 2.8700e+02
 6.2800e+02 4.0300e+02 9.0100e+02 4.6300e+02 8.3500e+02 9.2500e+02
 2.3400e+02 5.9000e+02 9.7500e+02 2.7900e+02 3.0600e+02 4.9400e+02
 9.8700e+02 3.6100e+02 5.9400e+02 6.2900e+02 4.4200e+02 7.8500e+02
 8.6500e+02 4.0800e+02 9.6700e+02 7.6600e+02 2.7200e+02 6.0900e+02
 3.8800e+02 6.9500e+02 3.9800e+02 7.6700e+02 5.5400e+02 9.6200e+02
 9.5300e+02 5.3300e+02 3.1100e+02 6.4700e+02 7.4200e+02 9.3400e+02
 5.2400e+02 5.1300e+02 3.2300e+02 4.9800e+02 3.2900e+02 7.9100e+02
 5.6200e+02 3.5200e+02 2.3900e+02 8.9600e+02 8.3000e+02 8.5600e+02
 8.9000e+02 8.1500e+02 5.8900e+02 8.0100e+02 9.1500e+02 6.3200e+02
 9.6400e+02 9.3500e+02 4.6700e+02 4.3700e+02 4.7900e+02 9.6500e+02
 9.9100e+02 5.6600e+02 6.3800e+02 3.9100e+02 5.7700e+02 4.5700e+02
 7.5800e+02 6.5200e+02 3.7700e+02 2.9800e+02 2.4400e+02 6.2400e+02
 7.9200e+02 7.4800e+02 4.5100e+02 7.8300e+02 5.4200e+02 2.5800e+02
 5.0300e+02 3.5700e+02 8.9300e+02 5.4300e+02 5.7900e+02 5.5500e+02
 5.2300e+02 1.9700e+02 8.9900e+02 9.3600e+02 4.0200e+02 9.6900e+02
 4.3300e+02 3.6900e+02 9.5800e+02 9.5600e+02 3.6300e+02 7.1500e+02
 3.3200e+02 3.3300e+02 3.4700e+02 2.9300e+02 6.9200e+02 6.8200e+02
 6.0600e+02 3.7900e+02 6.0800e+02 3.4800e+02 7.4900e+02 6.6900e+02
 9.1300e+02 6.5300e+02 3.5600e+02 4.0500e+02 4.7400e+02 3.2200e+02
 9.8100e+02 5.9600e+02 7.6200e+02 5.7100e+02 2.2200e+02 5.7200e+02
 7.7000e+02 5.1200e+02 5.2700e+02 3.5400e+02 3.7100e+02 3.7800e+02
 4.3800e+02 7.0500e+02 7.5300e+02 3.9900e+02 8.3400e+02 8.2400e+02
 4.6400e+02 3.3100e+02 2.2100e+02 9.7700e+02 3.4600e+02 6.9400e+02
 6.0200e+02 7.5100e+02 9.5200e+02 8.8600e+02        nan 3.3600e+02
 4.4800e+02 3.5800e+02 8.5200e+02 2.4100e+02 7.5500e+02 6.7200e+02
 3.5500e+02 7.0300e+02 8.4400e+02 5.5300e+02 9.2900e+02 5.6700e+02
 9.1400e+02 8.1100e+02 4.2400e+02 4.4900e+02 7.8900e+02 3.3400e+02
 3.0400e+02 4.4100e+02 4.5200e+02 4.2300e+02 3.1300e+02 4.5300e+02
 4.7300e+02 9.0500e+02 9.2700e+02 7.6300e+02 3.4900e+02 6.8300e+02
 6.5700e+02 6.3900e+02 9.7200e+02 7.0700e+02 9.8400e+02 5.5200e+02
 7.2200e+02 9.9300e+02 8.6200e+02 7.7800e+02 8.3300e+02 4.7700e+02
 5.5600e+02 8.2800e+02 7.0100e+02 2.5400e+02 8.2300e+02 4.5400e+02
 6.4600e+02 2.9100e+02 3.5100e+02 6.4200e+02 8.6700e+02 7.2100e+02
 4.3200e+02 6.2600e+02 5.3600e+02 3.5900e+02 9.1700e+02 4.8800e+02
 5.0900e+02 3.8100e+02 7.7200e+02 5.7300e+02 8.7400e+02 2.6800e+02
 6.9600e+02 4.9200e+02 2.7700e+02 9.8200e+02 8.9500e+02 7.8800e+02
 9.7800e+02 4.3100e+02 8.0300e+02 7.1700e+02 8.7300e+02 8.5100e+02
 5.1400e+02 2.7600e+02 6.6200e+02 8.1400e+02 8.2200e+02 9.4200e+02
 6.1800e+02 8.2100e+02 5.0100e+02 8.8900e+02 9.1000e+02 1.0000e+03
 5.9800e+02 9.8300e+02 5.0700e+02 4.4700e+02 3.6600e+02 7.3900e+02
 1.0110e+03 4.1300e+02 4.8710e+03 1.0320e+03 8.4300e+02 7.6500e+02
 9.6100e+02 5.8800e+02 5.3400e+02 6.7100e+02 7.0300e+03 2.7100e+02
 8.7600e+02 6.9700e+02 3.6000e+03 8.5500e+02 7.1800e+02 7.4600e+02
 8.4100e+02 2.4700e+02 8.0800e+02 4.0400e+02 2.9900e+02 1.2500e+03
 7.2700e+02 6.9100e+02 2.6200e+02 9.3200e+02 1.2143e+04 7.9600e+02
 1.3000e+03 7.7700e+02 9.5700e+02 9.3900e+02 1.6450e+03 2.7400e+02
 7.5500e+03 8.0500e+02 5.9900e+02 5.2900e+02 6.0100e+02 3.6800e+02
 7.9800e+02 3.3800e+02 4.1900e+02 4.7800e+02 1.9950e+03 4.8100e+02
 9.2960e+03 2.9400e+02 4.8400e+02 1.2000e+03 1.4240e+03 9.6800e+02
 6.1400e+02 9.1900e+02 6.9800e+02 8.1800e+02 3.3900e+02 8.8200e+02
 7.9500e+02 6.0400e+02 7.8400e+02 5.9100e+02 8.1600e+02 8.6900e+02
 7.1600e+02 6.3700e+02 3.7400e+02 5.5800e+02 9.2100e+02 6.1700e+02
 9.1200e+02 9.4300e+02 5.2100e+02 9.4100e+02 6.8800e+02 5.3900e+02
 7.5400e+02 8.9800e+02 7.8100e+02 2.4900e+02 8.3800e+02 5.9200e+02
 7.0800e+02 8.1700e+02 7.1100e+02 8.9100e+02 9.7400e+02 5.5900e+02
 8.8500e+02 7.3700e+02 5.3100e+02 5.6900e+02 8.5700e+02 9.4600e+02
 4.9900e+02 7.8200e+02 8.6600e+02 6.8600e+02 8.6100e+02 9.6600e+02
 5.4100e+02 6.1900e+02]

eligible_double_your_impact_match
['f' 't']

eligible_almost_home_match
['f' 't']

date_posted
['2013-12-31T00:00:00.000000000' '2013-12-30T00:00:00.000000000'
 '2013-12-29T00:00:00.000000000' ... '2011-01-03T00:00:00.000000000'
 '2011-01-02T00:00:00.000000000' '2011-01-01T00:00:00.000000000']

fully_funded
[1 0]

year
[2013 2012 2011]

In [60]:
# log ids
type_dict = organize_variables(project_info, col_names = ['teacher_acctid', 'schoolid', 'school_ncesid'], indicator = 'ids')

In [61]:
# log binary variables
type_dict = organize_variables(project_info, col_names = ['school_charter', 'school_magnet', 'school_year_found', 'school_nlns', 'school_kipp', 'school_charter_ready_promise', 'teacher_teach_for_america', 'teacher_ny_teaching_fellow', 'eligible_double_your_impact_match', 'eligibile_almost_home_match'], indicator = 'binary', var_dict = type_dict)

In [62]:
# log variables to drop
type_dict = organize_variables(project_info, col_names = ['school_latitude', 'school_longitude'], indicator = 'drop', var_dict = type_dict)

In [63]:
# log geographical info to keep
type_dict = organize_variables(project_info, col_names = ['school_city', 'school_state', 'school_zip'], indicator = 'geo', var_dict = type_dict)

In [64]:
# log items with multiple values to convert to dummy variables
type_dict = organize_variables(project_info, col_names = ['school_metro', 'teacher_prefix', 'primary_focus_area', 'resource_type', 'poverty_level', 'grade_level'], indicator = 'multi', var_dict = type_dict)

In [29]:
# log variables to create dummy variables for solely top-occuring values
type_dict = organize_variables(project_info, col_names = ['school_district', 'school_county', 'school_state', 'school_city', 'primary_focus_subject', 'secondary_focus_subject', 'secondary_focus_area'], indicator = 'tops', var_dict = type_dict)

In [65]:
type_dict

{'binary': ['school_charter',
  'school_magnet',
  'school_year_found',
  'school_nlns',
  'school_kipp',
  'school_charter_ready_promise',
  'teacher_teach_for_america',
  'teacher_ny_teaching_fellow',
  'eligible_double_your_impact_match',
  'eligibile_almost_home_match'],
 'tops': [],
 'drop': ['school_latitude', 'school_longitude'],
 'ids': ['teacher_acctid', 'schoolid', 'school_ncesid'],
 'geo': ['school_city', 'school_state', 'school_zip'],
 'multi': ['school_metro',
  'teacher_prefix',
  'primary_focus_area',
  'resource_type',
  'poverty_level',
  'grade_level'],
 'numeric': []}

### Outlier Evaluation

In [ ]:
maxes = ml.view_max_mins(project_info, max = True)
maxes.tail().round(2)

In [ ]:
likely_outliers_upper = ml.view_likely_outliers(project_info)
likely_outliers_upper.tail()

In [ ]:
mins = ml.view_max_mins(project_info, max = False)
mins

In [ ]:
likely_outliers_lower = ml.view_likely_outliers(project_info, max = False)
likely_outliers_lower

#### Create copy of dataframe to manipulate and explore

In [75]:
manip_df = project_info[list(project_info.columns)]

In [76]:
manip_df.head()

,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_district,...,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted,fully_funded,year
projectid,,,,,,,,,,,,,,,,,,,,,
62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,1.713710e+11,41.972419,-88.174597,Bartlett,IL,60103.0,suburban,Elgin School District U-46,...,Grades 3-5,30.0,444.36,522.78,7.0,f,f,2013-12-31,1,2013
33d59ac771b80222ad63ef0f4ac47ade,de83b4c1f6428a15032c207c1d5e572a,d91a805b213bf74ae77b94e0de2b73ad,1.601530e+11,43.501154,-112.056780,Idaho Falls,ID,83402.0,urban,Idaho Falls School District 91,...,Grades 3-5,30.0,233.24,274.40,30.0,f,f,2013-12-31,0,2013
1a3aaeffc56dd2a421e37d8298024c0a,f4c9ed095b85458dcf858e25f203af00,9310d3eb447a4e46bc5fc31ed007ceac,3.302610e+11,42.888244,-71.320224,Derry,NH,3038.0,suburban,School Administrative Unit 10,...,Grades 6-8,30.0,285.09,335.40,230.0,f,f,2013-12-31,0,2013
33aa19ee4da4c5adf47d0dfb84fab5ef,17768031eb40de8d4497dbb54df48742,9ac70da58322783f82152eecc140a812,5.103240e+11,37.476158,-77.488397,Richmond,VA,23224.0,urban,Richmond City School District,...,Grades PreK-2,30.0,232.94,274.05,18.0,f,f,2013-12-31,0,2013
e31c0ea8b68f404699dfb0d39e9bc99b,0f1bc5b4700fd33383be104442660178,cb9f688cf59e3ee22a087d616ca8f5d7,1.709930e+11,41.952851,-87.650233,Chicago,IL,60613.0,urban,Ravenswood-ridge Elem Network,...,Grades 6-8,30.0,513.41,604.01,70.0,t,f,2013-12-31,1,2013

#### Outlier Removal

In [77]:
# total price and students reached values should not be inf 
ml.remove_over_under_threshold(manip_df, col = 'total_price_excluding_optional_support', min_val = 0, max_val = False, lwr_threshold = 0.001, upr_threshold = False)
ml.remove_over_under_threshold(manip_df, col = 'total_price_including_optional_support', min_val = 0, max_val = False, lwr_threshold = 0.001, upr_threshold = False)
ml.remove_over_under_threshold(manip_df, col = 'students_reached', min_val = 0, max_val = False, lwr_threshold = 0.005, upr_threshold = False)

In [78]:
# check that expected values were removed
likely_outliers_lower_post = ml.view_likely_outliers(manip_df, max = False)
likely_outliers_lower_post

,school_ncesid,school_latitude,school_longitude,school_zip,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,fully_funded,year
0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.001,2.649951e-03,0.143325,-0.078619,1.726829,0.0,0.011051,0.011057,0.000000,NaN,0.0
0.002,7.479675e-03,0.023015,-0.001138,0.432916,0.0,0.012375,0.012354,0.000000,NaN,0.0
0.003,7.127319e-03,0.001851,-0.000891,0.004994,0.0,0.008899,0.008940,0.200000,NaN,0.0
0.004,2.948710e-03,0.005969,-0.000905,0.142857,0.0,0.008966,0.008984,0.000000,NaN,0.0
0.005,3.234090e-03,0.180625,-0.016690,0.006522,0.0,0.007008,0.007001,0.000000,NaN,0.0
0.006,2.735179e-03,0.007932,-0.034093,0.093952,0.0,0.005237,0.005245,0.000000,NaN,0.0
0.007,2.545706e-03,0.003906,-0.000590,0.045903,0.0,0.005567,0.005521,0.166667,NaN,0.0
0.008,4.651396e-03,0.001726,-0.170409,0.001416,0.0,0.004614,0.004646,0.000000,NaN,0.0
0.009,9.361638e-01,0.001303,-0.003872,0.002356,0.0,0.004027,0.004024,0.000000,NaN,0.0
0.010,2.297932e-09,0.001072,-0.004954,0.001410,0.0,0.005207,0.005204,0.000000,NaN,0.0

### Binary and Dummy conversion

In [79]:
# check for null values
ml.print_null_freq(manip_df)

value                                    False   True
variable
date_posted                             353151       0
eligible_almost_home_match              353151       0
eligible_double_your_impact_match       353151       0
fulfillment_labor_materials             353151       0
fully_funded                            353151       0
grade_level                             353145       6
poverty_level                           353151       0
primary_focus_area                      353116      35
primary_focus_subject                   353116      35
resource_type                           353109      42
school_charter                          353151       0
school_charter_ready_promise            353151       0
school_city                             353151       0
school_county                           353151       0
school_district                         352722     429
school_kipp                             353151       0
school_latitude                         353151       0
school_longitude                        353151       0
school_magnet                           353151       0
school_metro                            310130   43021
school_ncesid                           328293   24858
school_nlns                             353151       0
school_state                            353151       0
school_year_round                       353151       0
school_zip                              353151       0
schoolid                                353151       0
secondary_focus_area                    237065  116086
secondary_focus_subject                 237065  116086
students_reached                        351891    1260
teacher_acctid                          353151       0
teacher_ny_teaching_fellow              353151       0
teacher_prefix                          353151       0
teacher_teach_for_america               353151       0
total_price_excluding_optional_support  352801     350
total_price_including_optional_support  352801     350
year                                    353151       0

In [80]:
# convert binary values
manip_df.replace({'t': 1, 'f': 0}, inplace=True)

In [81]:
# confirm change
manip_df.head()

,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,school_district,...,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted,fully_funded,year
projectid,,,,,,,,,,,,,,,,,,,,,
62526d85d2a1818432d03d600969e99c,ebc7c90b6c92a069432e0714b8d93dfd,5aca9711ff0e4b37db48701f46f73036,1.713710e+11,41.972419,-88.174597,Bartlett,IL,60103.0,suburban,Elgin School District U-46,...,Grades 3-5,30.0,444.36,522.78,7.0,0,0,2013-12-31,1,2013
33d59ac771b80222ad63ef0f4ac47ade,de83b4c1f6428a15032c207c1d5e572a,d91a805b213bf74ae77b94e0de2b73ad,1.601530e+11,43.501154,-112.056780,Idaho Falls,ID,83402.0,urban,Idaho Falls School District 91,...,Grades 3-5,30.0,233.24,274.40,30.0,0,0,2013-12-31,0,2013
1a3aaeffc56dd2a421e37d8298024c0a,f4c9ed095b85458dcf858e25f203af00,9310d3eb447a4e46bc5fc31ed007ceac,3.302610e+11,42.888244,-71.320224,Derry,NH,3038.0,suburban,School Administrative Unit 10,...,Grades 6-8,30.0,285.09,335.40,230.0,0,0,2013-12-31,0,2013
33aa19ee4da4c5adf47d0dfb84fab5ef,17768031eb40de8d4497dbb54df48742,9ac70da58322783f82152eecc140a812,5.103240e+11,37.476158,-77.488397,Richmond,VA,23224.0,urban,Richmond City School District,...,Grades PreK-2,30.0,232.94,274.05,18.0,0,0,2013-12-31,0,2013
e31c0ea8b68f404699dfb0d39e9bc99b,0f1bc5b4700fd33383be104442660178,cb9f688cf59e3ee22a087d616ca8f5d7,1.709930e+11,41.952851,-87.650233,Chicago,IL,60613.0,urban,Ravenswood-ridge Elem Network,...,Grades 6-8,30.0,513.41,604.01,70.0,1,0,2013-12-31,1,2013

In [82]:
manip_df.columns

Index(['teacher_acctid', 'schoolid', 'school_ncesid', 'school_latitude',
       'school_longitude', 'school_city', 'school_state', 'school_zip',
       'school_metro', 'school_district', 'school_county', 'school_charter',
       'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp',
       'school_charter_ready_promise', 'teacher_prefix',
       'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
       'primary_focus_subject', 'primary_focus_area',
       'secondary_focus_subject', 'secondary_focus_area', 'resource_type',
       'poverty_level', 'grade_level', 'fulfillment_labor_materials',
       'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'eligible_almost_home_match',
       'date_posted', 'fully_funded', 'year'],
      dtype='object')

In [83]:
type_dict['drop']

['school_latitude', 'school_longitude']

In [84]:
type_dict['tops']

[]

In [98]:
type_dict['multi']

['school_metro',
 'teacher_prefix',
 'primary_focus_area',
 'resource_type',
 'poverty_level',
 'grade_level']

In [99]:
def replace_dummies(df, cols_to_dummy):
    df = pd.get_dummies(df, columns = cols_to_dummy, dummy_na=True)

In [100]:
replace_dummies(manip_df, type_dict['multi'])

In [103]:
manip_df = pd.get_dummies(manip_df, columns = type_dict['multi'], dummy_na=True)

In [104]:
manip_df.columns

Index(['teacher_acctid', 'schoolid', 'school_ncesid', 'school_latitude',
       'school_longitude', 'school_city', 'school_state', 'school_zip',
       'school_district', 'school_county', 'school_charter', 'school_magnet',
       'school_year_round', 'school_nlns', 'school_kipp',
       'school_charter_ready_promise', 'teacher_teach_for_america',
       'teacher_ny_teaching_fellow', 'primary_focus_subject',
       'secondary_focus_subject', 'secondary_focus_area',
       'fulfillment_labor_materials', 'total_price_excluding_optional_support',
       'total_price_including_optional_support', 'students_reached',
       'eligible_double_your_impact_match', 'eligible_almost_home_match',
       'date_posted', 'fully_funded', 'year', 'school_metro_rural',
       'school_metro_suburban', 'school_metro_urban', 'school_metro_nan',
       'teacher_prefix_Dr.', 'teacher_prefix_Mr.', 'teacher_prefix_Mrs.',
       'teacher_prefix_Ms.', 'teacher_prefix_nan',
       'primary_focus_area_Applied Learning',
       'primary_focus_area_Health & Sports',
       'primary_focus_area_History & Civics',
       'primary_focus_area_Literacy & Language',
       'primary_focus_area_Math & Science',
       'primary_focus_area_Music & The Arts',
       'primary_focus_area_Special Needs', 'primary_focus_area_nan',
       'resource_type_Books', 'resource_type_Other', 'resource_type_Supplies',
       'resource_type_Technology', 'resource_type_Trips',
       'resource_type_Visitors', 'resource_type_nan',
       'poverty_level_high poverty', 'poverty_level_highest poverty',
       'poverty_level_low poverty', 'poverty_level_moderate poverty',
       'poverty_level_nan', 'grade_level_Grades 3-5', 'grade_level_Grades 6-8',
       'grade_level_Grades 9-12', 'grade_level_Grades PreK-2',
       'grade_level_nan'],
      dtype='object')

In [ ]:
# fill null values for which zero where it is most likely true value
ml.basic_fill_vals(manip_df, "fully_funded", method = "replace", replace_with = 0)

In [ ]:
def record_nulls(df):
    for col in list(df.columns):
        title = col + "_was_null"
        df[title] = df[col].isnull().astype(int)
    df = df.loc[:, (df != 0).any(axis=0)]

In [ ]:
# record_nulls(manip_df)

In [ ]:
manip_df.head()

In [ ]:
ml.print_null_freq(manip_df)

In [ ]:
exp.view_dist(manip_df, geo_columns= True,
             fig_size = (20, 20),
             labels = ["Feature Distributions", "Feature", "Frequency"])

In [ ]:
# # exp.view_dist(manip_df, geo_columns= True,
#              fig_size = (20, 20),
#              labels = ["Feature Distributions", "Feature", "Frequency"])

In [ ]:
manip_df.head()

In [ ]:
train_yr_qtr, test_yr_qtr = ml.time_series_split(manip_df, date_col = 'date_posted', train_size = 12, test_size = 3, increment = 'month', specify_start = '2011-01-01')

In [ ]:
train_15_qtr, test_15_qtr = ml.time_series_split(manip_df, date_col = 'date_posted', train_size = 15, test_size = 3, increment = 'month', specify_start = '2011-01-01')

In [ ]:
train_18_qtr, test_18_qtr = ml.time_series_split(manip_df, date_col = 'date_posted', train_size = 18, test_size = 3, increment = 'month', specify_start = '2011-01-01')

In [ ]:
train_21_qtr, test_21_qtr = ml.time_series_split(manip_df, date_col = 'date_posted', train_size = 18, test_size = 3, increment = 'month', specify_start = '2011-01-01')

In [ ]:
pd.get_dummies(manip_df, prefix="dummy", prefix_sep='_', dummy_na=False, columns=None)

In [ ]:
params_test = { 
    'RF':{'n_estimators': [1], 'max_depth': [1], 'max_features': ['sqrt'],'min_samples_split': [10], 'n_jobs': [-1]},
    'LR': { 'penalty': ['l1'], 'C': [0.01]},
    'SGD': { 'loss': ['perceptron'], 'penalty': ['l2']},
    'ET': { 'n_estimators': [1], 'criterion' : ['gini'] ,'max_depth': [1], 'max_features': ['sqrt'],'min_samples_split': [10], 'n_jobs': [-1]},
    'AB': { 'algorithm': ['SAMME'], 'n_estimators': [1]},
    'GB': {'n_estimators': [1], 'learning_rate' : [0.1],'subsample' : [0.5], 'max_depth': [1]},
    'NB' : {},
    'DT': {'criterion': ['gini'], 'max_depth': [1], 'max_features': [None],'min_samples_split': [10]},
    'SVM' :{'C' :[0.01],'kernel':['linear']},
    'KNN' :{'n_neighbors': [5],'weights': ['uniform'],'algorithm': ['auto']}
           }

In [63]:
small_grid = { 
    "Random Forest":{'n_estimators': [100, 10000], 'max_depth': [5,50], 'max_features': ['sqrt','log2'],'min_samples_split': [2,10], 'n_jobs':[-1]},
    "Logistic Regression": { 'penalty': ['l1','l2'], 'C': [0.00001,0.001,0.1,1,10]},
    "Naive Bayes" : {},
    "Decision Tree": {'criterion': ['gini', 'entropy'], 'max_depth': [1,5,10,20,50,100], 'max_features': [None,'sqrt','log2'],'min_samples_split': [2,5,10]},
    'SVM' :{'C' :[0.00001,0.0001,0.001,0.01,0.1,1,10],'kernel':['linear']},
    'KNN' :{'n_neighbors': [1,5,10,25,50,100],'weights': ['uniform','distance'],'algorithm': ['auto','ball_tree','kd_tree']}
           }

In [74]:
for clf_type, params in small_grid.items():
    print(clf_type)
    print(params)
    print()
    for tried in list(itertools.product(params.values())):
        print(tried)

Random Forest
{'n_estimators': [100, 10000], 'max_depth': [5, 50], 'max_features': ['sqrt', 'log2'], 'min_samples_split': [2, 10], 'n_jobs': [-1]}

([100, 10000],)
([5, 50],)
(['sqrt', 'log2'],)
([2, 10],)
([-1],)
Logistic Regression
{'penalty': ['l1', 'l2'], 'C': [1e-05, 0.001, 0.1, 1, 10]}

(['l1', 'l2'],)
([1e-05, 0.001, 0.1, 1, 10],)
Naive Bayes
{}

Decision Tree
{'criterion': ['gini', 'entropy'], 'max_depth': [1, 5, 10, 20, 50, 100], 'max_features': [None, 'sqrt', 'log2'], 'min_samples_split': [2, 5, 10]}

(['gini', 'entropy'],)
([1, 5, 10, 20, 50, 100],)
([None, 'sqrt', 'log2'],)
([2, 5, 10],)
SVM
{'C': [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10], 'kernel': ['linear']}

([1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10],)
(['linear'],)
KNN
{'n_neighbors': [1, 5, 10, 25, 50, 100], 'weights': ['uniform', 'distance'], 'algorithm': ['auto', 'ball_tree', 'kd_tree']}

([1, 5, 10, 25, 50, 100],)
(['uniform', 'distance'],)
(['auto', 'ball_tree', 'kd_tree'],)

In [114]:
# parameters for looping sourced from example at https://github.com/rayidghani/magicloops/blob/master/mlfunctions.py
dt_params = {'criterion': ['gini', 'entropy'], 'max_depth': [1,5,10,20,50,100], 'max_features': [None, 'sqrt','log2'],'min_samples_split': [2,5,10]}
dt_parameter = list(dt_params.keys())
# for params in list(itertools.product(*dt_params.values())):
#     print(params)
list_params = list(itertools.product(*dt_params.values()))

In [115]:
dt_parameter

['criterion', 'max_depth', 'max_features', 'min_samples_split']

In [116]:
list_params

[('gini', 1, None, 2),
 ('gini', 1, None, 5),
 ('gini', 1, None, 10),
 ('gini', 1, 'sqrt', 2),
 ('gini', 1, 'sqrt', 5),
 ('gini', 1, 'sqrt', 10),
 ('gini', 1, 'log2', 2),
 ('gini', 1, 'log2', 5),
 ('gini', 1, 'log2', 10),
 ('gini', 5, None, 2),
 ('gini', 5, None, 5),
 ('gini', 5, None, 10),
 ('gini', 5, 'sqrt', 2),
 ('gini', 5, 'sqrt', 5),
 ('gini', 5, 'sqrt', 10),
 ('gini', 5, 'log2', 2),
 ('gini', 5, 'log2', 5),
 ('gini', 5, 'log2', 10),
 ('gini', 10, None, 2),
 ('gini', 10, None, 5),
 ('gini', 10, None, 10),
 ('gini', 10, 'sqrt', 2),
 ('gini', 10, 'sqrt', 5),
 ('gini', 10, 'sqrt', 10),
 ('gini', 10, 'log2', 2),
 ('gini', 10, 'log2', 5),
 ('gini', 10, 'log2', 10),
 ('gini', 20, None, 2),
 ('gini', 20, None, 5),
 ('gini', 20, None, 10),
 ('gini', 20, 'sqrt', 2),
 ('gini', 20, 'sqrt', 5),
 ('gini', 20, 'sqrt', 10),
 ('gini', 20, 'log2', 2),
 ('gini', 20, 'log2', 5),
 ('gini', 20, 'log2', 10),
 ('gini', 50, None, 2),
 ('gini', 50, None, 5),
 ('gini', 50, None, 10),
 ('gini', 50, 'sqrt', 2),
 ('gini', 50, 'sqrt', 5),
 ('gini', 50, 'sqrt', 10),
 ('gini', 50, 'log2', 2),
 ('gini', 50, 'log2', 5),
 ('gini', 50, 'log2', 10),
 ('gini', 100, None, 2),
 ('gini', 100, None, 5),
 ('gini', 100, None, 10),
 ('gini', 100, 'sqrt', 2),
 ('gini', 100, 'sqrt', 5),
 ('gini', 100, 'sqrt', 10),
 ('gini', 100, 'log2', 2),
 ('gini', 100, 'log2', 5),
 ('gini', 100, 'log2', 10),
 ('entropy', 1, None, 2),
 ('entropy', 1, None, 5),
 ('entropy', 1, None, 10),
 ('entropy', 1, 'sqrt', 2),
 ('entropy', 1, 'sqrt', 5),
 ('entropy', 1, 'sqrt', 10),
 ('entropy', 1, 'log2', 2),
 ('entropy', 1, 'log2', 5),
 ('entropy', 1, 'log2', 10),
 ('entropy', 5, None, 2),
 ('entropy', 5, None, 5),
 ('entropy', 5, None, 10),
 ('entropy', 5, 'sqrt', 2),
 ('entropy', 5, 'sqrt', 5),
 ('entropy', 5, 'sqrt', 10),
 ('entropy', 5, 'log2', 2),
 ('entropy', 5, 'log2', 5),
 ('entropy', 5, 'log2', 10),
 ('entropy', 10, None, 2),
 ('entropy', 10, None, 5),
 ('entropy', 10, None, 10),
 ('entropy', 10, 'sqrt', 2),
 ('entropy', 10, 'sqrt', 5),
 ('entropy', 10, 'sqrt', 10),
 ('entropy', 10, 'log2', 2),
 ('entropy', 10, 'log2', 5),
 ('entropy', 10, 'log2', 10),
 ('entropy', 20, None, 2),
 ('entropy', 20, None, 5),
 ('entropy', 20, None, 10),
 ('entropy', 20, 'sqrt', 2),
 ('entropy', 20, 'sqrt', 5),
 ('entropy', 20, 'sqrt', 10),
 ('entropy', 20, 'log2', 2),
 ('entropy', 20, 'log2', 5),
 ('entropy', 20, 'log2', 10),
 ('entropy', 50, None, 2),
 ('entropy', 50, None, 5),
 ('entropy', 50, None, 10),
 ('entropy', 50, 'sqrt', 2),
 ('entropy', 50, 'sqrt', 5),
 ('entropy', 50, 'sqrt', 10),
 ('entropy', 50, 'log2', 2),
 ('entropy', 50, 'log2', 5),
 ('entropy', 50, 'log2', 10),
 ('entropy', 100, None, 2),
 ('entropy', 100, None, 5),
 ('entropy', 100, None, 10),
 ('entropy', 100, 'sqrt', 2),
 ('entropy', 100, 'sqrt', 5),
 ('entropy', 100, 'sqrt', 10),
 ('entropy', 100, 'log2', 2),
 ('entropy', 100, 'log2', 5),
 ('entropy', 100, 'log2', 10)]

In [117]:
all_dicts = []
for params in list_params:
    kwargs_dict = dict(zip(dt_parameter, params))
    all_dicts.append(kwargs_dict)

In [120]:
all_dicts

[{'criterion': 'gini',
  'max_depth': 1,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 1,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 1,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 1,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 1,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 1,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 1,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 1,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 1,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 5,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 5,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 5,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 5,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 5,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 5,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 5,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 5,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 5,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 10,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 10,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 10,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 10,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 10,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 10,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 10,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 10,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 10,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 20,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 20,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 20,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 20,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 20,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 20,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 20,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 20,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 20,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 50,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 50,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 50,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 50,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 50,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 50,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 50,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 50,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 50,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 100,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 100,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 100,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 100,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 100,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 100,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'gini',
  'max_depth': 100,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'gini',
  'max_depth': 100,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'gini',
  'max_depth': 100,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 1,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 1,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 1,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 1,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 1,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 1,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 1,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 1,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 1,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 5,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 5,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 5,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 5,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 5,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 5,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 5,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 5,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 5,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 10,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 10,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 10,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 10,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 10,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 10,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 10,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 10,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 10,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 20,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 20,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 20,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 20,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 20,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 20,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 20,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 20,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 20,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 50,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 50,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 50,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 50,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 50,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 50,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 50,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 50,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 50,
  'max_features': 'log2',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 100,
  'max_features': None,
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 100,
  'max_features': None,
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 100,
  'max_features': None,
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 100,
  'max_features': 'sqrt',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 100,
  'max_features': 'sqrt',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 100,
  'max_features': 'sqrt',
  'min_samples_split': 10},
 {'criterion': 'entropy',
  'max_depth': 100,
  'max_features': 'log2',
  'min_samples_split': 2},
 {'criterion': 'entropy',
  'max_depth': 100,
  'max_features': 'log2',
  'min_samples_split': 5},
 {'criterion': 'entropy',
  'max_depth': 100,
  'max_features': 'log2',
  'min_samples_split': 10}]

In [131]:
args = all_dicts[0]
dec_tree = DecisionTreeClassifier(**args)

In [151]:
x = {'A': [1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0], 'B': ['pink', 'blue','pink', 'blue', 'pink', 'pink', 'blue', 'blue',  'blue','pink', 'blue', 'pink', 'blue','pink']}

In [152]:
y = {'C': [1, 9, 1, 0, 1, 4, 0, 6, 1, 7, 1, 1, 3, 1]}

In [153]:
features = pd.DataFrame(x)
features

    A     B
0   1  pink
1   0  blue
2   1  pink
3   0  blue
4   1  pink
5   1  pink
6   0  blue
7   1  blue
8   0  blue
9   1  pink
10  0  blue
11  1  pink
12  1  blue
13  0  pink

In [154]:
features = pd.get_dummies(features, 'B')
features

    A  B_blue  B_pink
0   1       0       1
1   0       1       0
2   1       0       1
3   0       1       0
4   1       0       1
5   1       0       1
6   0       1       0
7   1       1       0
8   0       1       0
9   1       0       1
10  0       1       0
11  1       0       1
12  1       1       0
13  0       0       1

In [155]:
ys = pd.DataFrame(y)
ys

    C
0   1
1   9
2   1
3   0
4   1
5   4
6   0
7   6
8   1
9   7
10  1
11  1
12  3
13  1

In [156]:
x_train, x_test, y_train, y_test = train_test_split(features, ys, test_size = 0.2, random_state = 0)

In [157]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(11, 3)
(11, 1)
(3, 3)
(3, 1)

In [158]:
dec_tree.fit(x_train, y_train)
train_pred = dec_tree.predict(x_train)
test_pred = dec_tree.predict(x_test)
train_acc = accuracy(x_train, y_train)
test_acc = accuracy(x_test, y_test)
print(train_acc, test_acc)

ValueError: Classification metrics can't handle a mix of multilabel-indicator and multiclass targets